@brand-color:           #42a5f6;

@color-title:           #2a2a2a;
@color-text:            #999999;
@color-second:			#fea541;


@font-title:            'Raleway';
@font-text:             'PT Sans';
@font-menu:             'Raleway';


@header-height:         100px;
@header-bg:             transparent;

@logo-width:            136px;


@menu-color:            #ffffff;
@menu-size:             14px;


@cover-padding-top:     235px;
@cover-padding-bottom:  235px;




@footer-bg:             #15191c;
@footer-color:          #888888;

@sub-footer-bg:			#13171a;