	<meta name="msapplication-square70x70logo" content="{{ STATIC_URL }}ico/windows-tile-70x70.png">
	<meta name="msapplication-square150x150logo" content="{{ STATIC_URL }}ico/windows-tile-150x150.png">
	<meta name="msapplication-square310x310logo" content="{{ STATIC_URL }}ico/windows-tile-310x310.png">
	<meta name="msapplication-TileImage" content="{{ STATIC_URL }}ico/windows-tile-144x144.png">
	<meta name="msapplication-TileColor" content="#f5f5f5">
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ STATIC_URL }}ico/apple-touch-icon-152x152-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ STATIC_URL }}ico/apple-touch-icon-120x120-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ STATIC_URL }}ico/apple-touch-icon-76x76-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ STATIC_URL }}ico/apple-touch-icon-60x60-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}ico/apple-touch-icon-144x144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}ico/apple-touch-icon-114x114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}ico/apple-touch-icon-72x72-precomposed.png">
	<link rel="apple-touch-icon" sizes="57x57" href="{{ STATIC_URL }}ico/apple-touch-icon.png">
	<meta name="mobile-web-app-capable" value="yes">
    <meta name="theme-color" content="#6f4323">
	<link rel="icon" sizes="192x192" href="{{ STATIC_URL }}ico/homescreen-192x192.png">
	<link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.ico">
	<link rel="icon" type="image/png" sizes="64x64" href="{{ STATIC_URL }}ico/favicon.png">
