<div class="row">
    <div class="col-xs-2">
        <img alt="PayPal Account" class="img-responsive center-block"
             src="{{ STATIC_URL }}images/payment/paypal_account.png">
    </div>
    <div class="col-xs-2">
        <img alt="American Express" class="img-responsive center-block"
             src="{{ STATIC_URL }}images/payment/american_express.png">
    </div>
    <div class="col-xs-2">
        <img alt="Discover" class="img-responsive center-block"
             src="{{ STATIC_URL }}images/payment/discover.png">
    </div>
    <div class="col-xs-2">
        <img alt="JCB" class="img-responsive center-block" src="{{ STATIC_URL }}images/payment/jcb.png">
    </div>
    <div class="col-xs-2">
        <img alt="MasterCard" class="img-responsive center-block"
             src="{{ STATIC_URL }}images/payment/mastercard.png">
    </div>
    <div class="col-xs-2">
        <img alt="Visa" class="img-responsive center-block" src="{{ STATIC_URL }}images/payment/visa.png">
    </div>
</div>