{% extends "base.html" %}
{% load i18n cms_tags sekizai_tags %}
{% block content %}
<div id="content">

    <!-- Section-->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-push-2">
                    <div class="row">
                        <div id="logoanimation" class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                                <div class="logoanim"></div>
                        </div>
                    </div>
                    <div class="text-center">
                        {% placeholder "Content Top" %}
                    </div>
                </div>
            </div>
            <section>
                <div class="container text-center">
                    <div class="row workflow-steps">
                        <span class="workflow-progress animated"></span>
                        <!-- Step -->
                        <div class="col-md-4">
                            <div class="step pl-20-lg pr-20-lg animated" data-animation-delay="700">
                                <span class="icon icon-circle icon-white"><i
                                        class="ti-pie-chart text-primary"></i></span>
                                {% placeholder "Process step 1" %}
                            </div>
                        </div>
                        <!-- Step -->
                        <div class="col-md-4">
                            <div class="step pl-20-lg pr-20-lg animated" data-animation-delay="2000">
                                <span class="icon icon-circle icon-white"><i
                                        class="ti-ruler-pencil text-primary"></i></span>
                                {% placeholder "Process step 2" %}
                            </div>
                        </div>
                        <!-- Step -->
                        <div class="col-md-4">
                            <div class="step pl-20-lg pr-20-lg animated" data-animation-delay="3300">
                                <span class="icon icon-circle icon-white"><i
                                        class="ti-stats-up text-primary"></i></span>
                                {% placeholder "Process step 3" %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <section id="services" class="protrude bg-grey pt-20 pb-20">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="feature feature-1 boxed bg-white rounded">
                        <div class="row">
                            <div class="col-md-7">
                                {% placeholder "Content features image" %}
                            </div>
                            <div class="col-md-5">
                                <div class="feature feature-3 visible">
                                    <div class="feature-content text-center bg-white">
                                        {% placeholder "Content features" %}
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-md-12">
                    <div class="feature feature-1 boxed bg-white rounded">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="feature feature-3 visible">
                                    <div class="feature-content text-center bg-white">
                                        {% placeholder "Content options" %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                {% placeholder "Content options image" %}
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-md-12">
                    <div class="feature feature-1 boxed bg-white rounded">
                        <div class="row">
                            <div class="col-md-7">
                                {% placeholder "Content benefits image" %}
                            </div>
                            <div class="col-md-5">
                                <div class="feature feature-3 visible">
                                    <div class="feature-content text-center bg-white">
                                        {% placeholder "Content benefits" %}
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section-->
    <section class="section-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!-- Service -->
                    <div class="feature feature-3">
                        <div class="feature-content text-center bg-white">
                            {% placeholder "Content operating option 1" %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Service -->
                    <div class="feature feature-3">
                        <div class="feature-content text-center bg-white">
                            {% placeholder "Content operating option 2" %}
                        </div>
                    </div>
                </div>
                </div>
            <div class="row">
                <div class="col-md-6">
                    <!-- Service -->
                    <div class="feature feature-3">
                        <div class="feature-content text-center bg-white">
                            {% placeholder "Content operating option 3" %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Service -->
                    <div class="feature feature-3">
                        <div class="feature-content text-center bg-white">
                            {% placeholder "Content operating option 4" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-grey pt-40 pb-40">
        <div class="container text-center">
            {% placeholder "Content acquiring header" %}
            <div class="row">
                <div class="col-md-6">
                    <!-- Price Table -->
                    <div class="price-table price-table-2">
                        <div class="head">
                            <span class="icon icon-primary"><i class="ti-package"></i></span>
                            {% placeholder "Content acquiring buying header" %}
                        </div>
                        <div class="content">
                            {% placeholder "Content acquiring buying content" %}
                        </div>
                        <div class="bottom">
                            {% placeholder "Content acquiring buying link" %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Price Table -->
                    <div class="price-table price-table-2">
                        <div class="head">
                            <span class="icon icon-primary"><i class="ti-dashboard"></i></span>
                            {% placeholder "Content acquiring leasing header" %}
                        </div>
                        <div class="content">
                            {% placeholder "Content acquiring leasing content" %}
                        </div>
                        <div class="bottom">
                            {% placeholder "Content acquiring leasing link" %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
    {% addtoblock "css" %}
    <style type="text/css">
        .logoanim {
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 400px;
            height: 283px;
            background: url('{{ STATIC_URL }}img/cloud_gro_logo.png') no-repeat 0 0%;
            background-size: 100%;
            animation: sprite 5s steps(1000);
        }

        @keyframes sprite {
            0% {
                background-image: url('{{ STATIC_URL }}img/logo_anim/1.png');
            }
            10% {
                background-image: url('{{ STATIC_URL }}img/logo_anim/2.png');
            }
            20% {
                background-image: url('{{ STATIC_URL }}img/logo_anim/3.png');
            }
            30% {
                background-image: url('{{ STATIC_URL }}img/logo_anim/4.png');
            }
            40% {
                background-image: url('{{ STATIC_URL }}img/logo_anim/5.png');
            }
            50% {
                background-image: url('{{ STATIC_URL }}img/logo_anim/6.png');
            }
            60% {
                background-image: url('{{ STATIC_URL }}img/logo_anim/7.png');
            }
            70% {
                background-image: url('{{ STATIC_URL }}img/logo_anim/8.png');
            }
            80% {
                background-image: url('{{ STATIC_URL }}img/logo_anim/9.png');
            }
            90% {
                background-image: url('{{ STATIC_URL }}img/logo_anim/9.png');
            }
            100% {
                background-image: url('{{ STATIC_URL }}img/logo_anim/9.png');
            }

        }
    </style>
    {% endaddtoblock %}
{% endblock %}
