{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load account socialaccount cms_tags %}
{% block title %}Your profile {{ block.super }}{% endblock %}
{% block head_title %}Your profile{% endblock %}

{% block content %}
    {% static_placeholder orders_content %}
    <h2>Your orders</h2>
    {% if object_list %}
    <table class="table table-responsive table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>Order code</th>
        <th>Items</th>
        <th>Total</th>
        <th>Placed on</th>
    </tr>
    </thead>
    <tbody>
    {% for order in object_list %}
    <tr>
    <td>{{ forloop.counter }}</td>
        <td>{{ order.order_code }}</td>
        <td>{% for item in order.items.all %}
            {{ item.quantity }} x {{ item.name }} for $ {{ item.price|floatformat }}{% if not forloop.last %}<br/>{% endif %}
        {% endfor %}</td>
    <td>$ {{ order.total|floatformat }}</td>
    <td>{{ order.created_at|date }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
        {% else %}
        <div class="alert alert-info">You have not placed any orders yet..</div>
    {% endif %}
    {% static_placeholder orders_content_bottom %}
{% endblock %}
{% block sidebar %}
    {% static_placeholder orders_sidebar %}
{% endblock sidebar %}
{% block topsidebar %}
    {% static_placeholder orders_topsidebar %}
{% endblock topsidebar %}
{% block sub_nav %}
    {% include "account/profile_sub_nav.html" %}
{% endblock sub_nav %}
{% block breadcrumb_content %}
{{ block.super }}
    <li class="child"><a href="{% url 'user-profile' %}">Profile</a></li>
    <li class="child active"><a href="{% url 'orders' %}">Orders</a></li>
{% endblock %}