{% extends "account/base.html" %}

{% load i18n bootstrap3 %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block title %}{% trans "Change Password" %} {{ block.super }}{% endblock %}
{% block content %}
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" name="action" class="btn btn-primary">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
{% block sub_nav %}
    {% include "account/profile_sub_nav.html" %}
{% endblock sub_nav %}
{% block breadcrumb_content %}
    {{ block.super }}
    <li class="child"><a href="{% url 'user-profile' %}">Profile</a></li>
    <li class="child active"><a href="{% url "account_change_password" %}">Change password</a></li>
{% endblock %}
