{% extends "base.html" %}
{% load i18n %}
{% block title %}403 We are sorry, you cannot access this{% endblock %}
{% block breadcrumb %}
    <div id="top-content" class="container-fluid inner-page">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="page-title">Permission denied</div>
                    <ul class="breadcrumb">
                        {% block breadcrumb_content %}
                            <li class="child"><a href="/">Home</a></li>{% endblock %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock breadcrumb %}
{% block content %}
    <div class="text-center pricing" style="margin-bottom: 50px">
        <h1>Permission denied</h1>
        <p>We are sorry, but you cannot access this</p>
    </div>
{% endblock content %}
