<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        Error - DeepExcavation
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="">
    <meta name="robots" content="noindex, nofollow">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="msapplication-square70x70logo" content="https://assets.deepex.com/ico/windows-tile-70x70.png">
    <meta name="msapplication-square150x150logo" content="https://assets.deepex.com/ico/windows-tile-150x150.png">
    <meta name="msapplication-square310x310logo" content="https://assets.deepex.com/ico/windows-tile-310x310.png">
    <meta name="msapplication-TileImage" content="https://assets.deepex.com/ico/windows-tile-144x144.png">
    <meta name="msapplication-TileColor" content="#f5f5f5">
    <link rel="apple-touch-icon-precomposed" sizes="152x152"
          href="https://assets.deepex.com/ico/apple-touch-icon-152x152-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120"
          href="https://assets.deepex.com/ico/apple-touch-icon-120x120-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76"
          href="https://assets.deepex.com/ico/apple-touch-icon-76x76-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="60x60"
          href="https://assets.deepex.com/ico/apple-touch-icon-60x60-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="https://assets.deepex.com/ico/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="https://assets.deepex.com/ico/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="https://assets.deepex.com/ico/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" sizes="57x57"
          href="https://assets.deepex.com/ico/apple-touch-icon.png">
    <meta name="mobile-web-app-capable" value="yes">
    <meta name="theme-color" content="#6f4323">
    <link rel="icon" sizes="192x192"
          href="https://assets.deepex.com/ico/homescreen-192x192.png">
    <link rel="shortcut icon" href="https://assets.deepex.com/ico/favicon.ico">
    <link rel="icon" type="image/png" sizes="64x64"
          href="https://assets.deepex.com/ico/favicon.png">
    <link rel="stylesheet" type="text/css" href="https://assets.deepex.com/css/style.css">
</head>
<body style="padding:0">
<section class="testimonials text-center" style="height:100vh">
<img src="https://assets.deepex.com/images/logo.svg" alt="DeepExcavation"/>
    <div style="padding-top:60px">
    <h1>Error</h1>
    <p>We are really sorry, but an error has occurred.</p>
    </div>
</section>
</body>
</html>